@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    font-family: "Poppins", sans-serif;

}

.countainer{
    padding-left: 80px;
    padding-right: 80px;
}

.logo{
    width: 150px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}

.nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.Donate-nav{
    text-decoration: none;
    color: white;
    background-color: aqua;
    padding: 10px 26px;
    border-radius: 16px;
}

.hero {
    background-color: aqua;
    color: blue;
    height: 80vh;
    padding-top: 80px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.btn-1{
    text-decoration:none;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 30px;
}

.btn-2{
    text-decoration: none;
    color: blue;
    border: solid 1px blue;
    border-radius: 30px;
    padding: 10px 20px;
}